* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color1: rgb(188, 217, 244);
  --text-color: rgb(67, 68, 68);
}

body {
  background-color: var(--color1);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 100;
  color: var(--text-color);
}

h1 {
  width: fit-content;
  margin: 75px auto;
  font-weight: 100;
  letter-spacing: 2px;
}

ul {
  list-style: none;
}

li {
  padding: 15px 10px;
  border-bottom: var(--color1) solid 1px;
  display: flex;
  align-items: center;
  font-size: 16px;
}

input {
  border: none;
}

.reset-button {
  transition: ease-in-out 1s;
}

.reset-button:hover {
  transform: rotate(360deg) scale(1.3);
}

.list-container {
  background-color: white;
  margin: auto;
  max-width: 500px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.2);
}

.list-header {
  display: flex;
  justify-content: space-between;
  letter-spacing: 1px;
  padding: 15px 10px;
  border-bottom: var(--color1) solid 1px;
}

.task-form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
  border-bottom: var(--color1) solid 1px;
}

.add-input {
  width: 80%;
}

.add-input::placeholder {
  font-size: 15px;
}

.submit-button {
  border: none;
  background: none;
}

.checkbox {
  margin-right: 10px;
}

.task-text {
  width: 80%;
}

.edit-input {
  padding: 2px;
  font-size: 16px;
}

.item-dots {
  margin-left: auto;
  cursor: move;
}

.item-trash {
  margin-left: auto;
  cursor: pointer;
}

.clear-button {
  width: 100%;
  padding: 15px 0;
  border: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 100;
  font-size: 16px;
  color: var(--text-color);
  cursor: pointer;
  background-color: rgb(243, 209, 165);
}

.editing {
  background-color: rgb(166, 245, 166);
}

.done {
  text-decoration: line-through 2px;
  text-decoration-color: green;
}

.item-checked {
  background-color: rgb(255, 255, 213);
}

.disabled {
  display: none;
}
